table {
  text-align: center;
  width: 100%;
  color: rgba($black-color, .7);
  margin-top: 10px;

  td,
  th {
    position: relative;
    height: 60px;
    border: 2px $background-color solid;

    &:first-child {
      border-left: none;
    }

    &:last-child {
      border-right: none;
    }
  }

  th {
    height: 20px;
    border-right: none;
    border-left: none;
  }

  td {
    vertical-align: top;
    padding-top: 5px;
    padding-left: 5px;

    p {
      text-align: left;
      margin-bottom: 0;
      color: rgba($black-color, 0.6);
    }
  }
}

.calender {
  .calender--day {

  }

  .calender--day__today {
    p {
      color: $white-color;
    }
    background-color: rgba($primary-color, .3);
  }

  .calender--day__other-month {
    background-color: rgba(#de7c23, .3);
  }

  .calender--day__disable {
    background-color: $background-color;
  }

  .calender--day__choosed {
    p {
      color: $white-color;
    }
    background-color: rgba($red-color, .4);
  }

  .capacity {
    position: absolute;
    text-align: center;
    width: 18px;
    height: 18px;
    line-height: 18px;
    font-size: 12px;
    border-radius: 100%;
    color: $white-color;
    background-color: $red-color;
    bottom: 5px;
    right:  20px;

    &.buyed {
      background-color: rgba($black-color, .5);
      bottom: 5px;
      right: 0;
    }
  }
}

.calender-container {
  margin: 20px 0;
  background-color: $white-color;

  .calender-edit {
    margin-top: 30px;

    form {
      width: 100%;
    }

    .edit-tip {
      text-align: center;
      font-size: 14px;
      color: rgba($black-color, 0.7);
      width: 100%;
      position: absolute;
      bottom: 20px;
    }

    .edit-action {
      width: 60%;
      margin: 0;
      margin: 20px auto;
      margin-top: 50px;
    }
  }
}

.error-message {
  z-index: 10;
}

.input-mini {
  width:auto;
}
