.msg {
  text-align: center;
  padding-top: 20px;

  .msg-hint {
    font-size: 25px;
    margin: 50px auto;
  }

  .msg-icon {
    margin-top: 20px;
  }

  .msg-action {
    margin: 20px auto;
    width: 50%;
  }
}
