/* ==========================================================================
   Color
   ========================================================================== */

$primary-color: #04be02;
$background-color: #fbf9fe;
$white-color: #fff;
$red-color: #ef4f4f;
$black-color: #000;
$border-color: #d9d9d9;
$doctor-content-name-color: #225fba;


/* ==========================================================================
   Font size
   ========================================================================== */

$small-font-size: 14px;
$medium-font-size: 16px;
$large-font-size: 18px;
$title-font-size: 20px;
$super-font-size: 30px;
