= weixin_header "订单", weixin_profile_path
= weixin_content do
  = render partial: "weixin/appointments/detail/#{@appointment.status}", locals: { appointment: @appointment }
  = render partial: "weixin/appointments/action/#{@appointment.status}", locals: { appointment: @appointment }
