development:
  yunpian_sms_key:
  wechat_user:
    appid:
    secret:
    token:
    access_token:
    jsapi_ticket:
  wechat_doctor:
    appid:
    secret:
    token:
    access_token:
    jsapi_ticket:
test:
  yunpian_sms_key:
  wechat_user:
    appid:
    secret:
    token:
    access_token:
    jsapi_ticket:
  wechat_doctor:
    appid:
    secret:
    token:
    access_token:
    jsapi_ticket:
staging:
  yunpian_sms_key:
  wechat_user:
    appid:
    secret:
    token:
    access_token:
    jsapi_ticket:
  wechat_doctor:
    appid:
    secret:
    token:
    access_token:
    jsapi_ticket:
production:
  yunpian_sms_key:
  secret_key_base:
  upaiyun_name:
  upaiyun_password:
  upaiyun_bucket:
  upaiyun_bucket_host:
  pq_username:
  pq_password:
  wechat_user:
    appid:
    secret:
    token:
    access_token:
    jsapi_ticket:
  wechat_doctor:
    appid:
    secret:
    token:
    access_token:
    jsapi_ticket: 
